Set default font family of all elements
*{
  font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
}
h1,h2{
  font-family: 'Montserrat', sans-serif;
}

#landing {
  height: 80vh;

  /*center the elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 250px;
  width: 250px;
}
img:hover{
  border-radius: 20px;
  box-shadow: 1px 1px 1px #0f028b;
}

.jumbotron{
  background-color: transparent;
}

#gallery{
  /*center all elements*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /*75% of available height of the device*/
  border-radius: 6px;
}
ul{
  list-style: none;
  padding: 0;
}
  h2{
    color: #007bff;
  }
  .tools{
    padding: 25px;
    height: 200px;
    border: 5px solid #f2f2f2;
    margin: 20px;
    width: 75%;
    border-radius: 6px;
    color: white;
  }

  @media (max-width: 578.98px){
   section.bg-dark{
      background-color: transparent;
    }
    section ul li li ul{
      color: #000000;
    }
  }
